<!DOCTYPE html>
<html ng-app="adminAddUser" lang="en">
<head>
    <title>SpannerApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

    <script src="adminAddUser.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="SpannerApp.css">
</head>
<body>

<nav class="navbar navbar-light ">
    <div class="container-fluid" >
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="info.html">Information</a></li>
                <li><a href="contact.html">Contact and Help</a></li>
                <li><a href="infoProduct.html">Product Info</a></li>
                <li><a href="writeCode.html">Write Code</a></li>
                <li><a href="workerTaskList.html">WORKER TASKS</a></li>
                <li><a href="adminAddUser.html">Add User Account</a></li>
                <li><a href="adminAddEmployee.html">Add Employee</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-sm pasek">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1"> SpannerApp</h1>
            </div>
        </div>
    </div>
</div>
<div class="container text-center" >
    <div class="row">
        <div class="col-sm-4"><br>
            <br></div>
        <div class="col-sm-4">
            <br></div>
        <div class="col-sm-4"><br></div>
    </div></div>
<div class="container text-center">
    <h3>Add New User Account</h3><br>
    <div class="row" >
        <div class="col-sm-4">
            <div class="alert alert-danger" ng-show="error">
                There was a problem with adding to DB. Please try again.
            </div>

        </div>
        <div class="col-sm-4" ng-controller="controller">


            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="login" type="text" class="form-control" name="login" ng-model="login" placeholder="Login" >
            </div>
            </br>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="text" class="form-control" name="password" ng-model="password" placeholder="Password" >
            </div>
            </br>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="email" type="email" class="form-control" name="email" ng-model="mail" placeholder="Email" required>
            </div>




            <script>
                $(document).ready(function(){
                    $(".dropdown-menu li a").click(function(){
                        $("#options").text($(this).text());
                    });
                });
            </script>


            </br>

            <select class="form-control" name="userStatus" ng-model="userStatus" placeholder="EMPLOYEE">
                <option value="one">ADMIN</option>
                <option value="two">WORKER</option>
                <option value="three">SERVICEMAN</option>
                <option value="four">MANAGER</option>
            </select>



            </br>
            <button ng-click="Register()"  class="btn btn-sky btn-lg btn-block">ADD USER</button>
        </div>
        <div class="col-sm-4"></div>


    </div>
</div><br></br>

<div class="container text-center">

</div>


</body><!--
<script>angular.module('demo', []).controller('Users', function($scope, $http) {
    $http.get('http://localhost:8080/users').then(function(response) {
        $scope.users = response.data;
    });
});</script>-->
</html>