
<!DOCTYPE html>
<html ng-app="login" lang="en">
<head>
    <title>SpannerApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

    <script src="login.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="SpannerApp.css">
</head>
<body>

<nav class="navbar navbar-light ">
    <div class="container-fluid" >
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="info.html">Information</a></li>
                <li><a href="contact.html">Contact and Help</a></li>
                <li><a href="writeCode.html">Write Code</a></li>
                <li><a href="workerTaskList.html">Service Tasks</a></li>
                <li><a href="adminAddUser.html">Add User Account</a></li>
                <li><a href="adminAddEmployee.html">Add Employee</a></li>
                <li><a href="adminAddProduct.html">Add Product</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-sm pasek">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1"> SpannerApp</h1>
            </div>
        </div>
    </div>
</div>
<div class="container text-center" >
    <div class="row">
        <div class="col-sm-4"><br>
            <br></div>
        <div class="col-sm-4">
            <br></div>
        <div class="col-sm-4"><br></div>
    </div></div>
<div class="container text-center">
    <h3>PLEASE SIGN IN</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <!--<div ng-controller="Users">
                <ul>
              <li ng-repeat="user in users"> <h5>{{user.id}}</h5>
                        <h6>{{user.username}}</h6>
                  <h6 style="color:red">{{user.password}}</h6></li>
                </ul>
            </div>-->
        </div>
        <div class="col-sm-4" ng-controller="controller">
            <div class="alert alert-danger" ng-show="error">
                There was a problem logging in. Please try again.
            </div>
          <!--  <div class="alert alert-success" ng-show="!error">
                We have found user:{{username}} with password:{{password}}
            </div>-->
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="username" type="text" class="form-control" name="username" ng-model="username" placeholder="User Name" >
            </div>
            </br>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" ng-model="password" placeholder="Password" >
            </div>
            </br>
            <button ng-click="Login()"  class="btn btn-sky btn-lg btn-block">Login</button>
            <!--    <p ng-model="result">Result: {{result}}</p>-->
            <div class="col-sm-4"></div>
        </div>
    </div><br>
</div>
<br>
<div class="container text-center">
    </br>
    </br>
    </br>
    </br>
    </br>
</div>


</body><!--
<script>angular.module('demo', []).controller('Users', function($scope, $http) {
    $http.get('http://localhost:8080/users').then(function(response) {
        $scope.users = response.data;
    });
});</script>-->
</html>