<!DOCTYPE html>
<html ng-app="search" lang="en">
<head>
    <title>SpannerApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.28/angular-route.js"></script>
    <script src="search.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="SpannerApp.css">

</head>
<body>
<nav class="navbar navbar-light ">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="menu.html">Home</a></li>
                <li><a href="info.html">Information</a></li>
                <li><a href="contact.html">Contact and Help</a></li>
                <li><a href="infoProduct.html">Product Info</a></li>
                <li><a href="writeCode.html">Write Code</a></li>
                <li><a href="workerTaskList.html">WORKER TASKS</a></li>
                <li><a href="adminAddUser.html">Add User Account</a></li>
                <li><a href="adminAddEmployee.html">Add Employee</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="register.html"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron pasek">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">Check
                    <small> what you have!</small></h1>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <h3></h3><br>
    <div class="row">
        <div class="col-sm-5">
            <img src="images/logo2.png" class="img-responsive" style="width:100%" alt="Image">

        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-4" ng-controller="controller">
            <h3>Check the serial number</h3>
            <form class="form-signin">

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                    <input id="code"  class="form-control" name="code" value="1885/EXT" placeholder="" ng-model="code2">
                </div>
                </br>
                <a href=""> <button type="submit"  class="btn btn-primary btn-lg btn-block" ng-click="Search()">Search</button></a>

            </form>
            <p value="0">{{kurwa.code}}</p>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div><br>


</body>
</html>